
/* VARIABLE STYLES */

$primary-color: #1f1f1f;
$secondary-color: #E4A436;
$tertiary-color: #f6f6f6;

$primary-font: 'Abril Fatface', cursive;
$secondary-font: 'Montserrat', sans-serif;

/* MIX INS */

/* FLEXBOX CENTERING */

@mixin flexbox-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SMALL HERO */

@mixin small-hero() {
    position: relative;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FLUID TYPOGRAPHY */

@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {
    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ((100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
    @media screen and (max-width: $lower-range) {
        font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range) {
        font-size: $max-font-size;
    }
}

/* VERTICAL CENTER */

@mixin vertical-center {
   position: relative;
   top: 50%;
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}
